/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.greeting {
  font-size: 1.5rem;
  font-weight: bold;
}

.datetime {
  font-size: 1rem;
}

/* Navbar styles */
.navbar {
  padding: 0.5rem 0;
}

.navbar-brand {
  font-size: 1.25rem;
}

.navbar-nav .nav-link {
  font-size: 1rem;
}

/* Header styles */
header {
  background-color: #f8f9fa;
}

/* Carousel styles */
.carousel-item img {
  max-width: 100%;
}

/* Card styles */
.card {
  margin-bottom: 20px;
  height: auto; /* Set height to auto to allow content to determine height */
  border-radius: 10px; /* Add border radius for rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
}

/* Ensure images inside cards are cropped */
.card-img-top {
  object-fit: cover;
  height: 500px; /* Set the height of the image */
  border-top-left-radius: 20px; /* Add border radius for rounded corners */
  border-top-right-radius: 10px; /* Add border radius for rounded corners */
}


/* Style card body */
.card-body {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 5px;
}

/* Card title */
.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Card text */
.card-text {
  font-size: 1rem;
  color: #6c757d; /* Adjust text color */
}


/* Footer styles */
footer {
  background-color: #343a40;
  color: #fff;
  padding: 20px 0;
}
